<head>
    <% include partials/head %>
</head>

<body>
    <form method='post' action="/fcm">
        <input name="message" type="text"/>
        <input type="submit" value="하하"/>
    </form>
</body>

