<head>
    <% include partials/head %>
    <style>
        #liveButton {
            font-size: 10vw;
        }
    </style>
</head>

<button id="liveButton">Go Live..!</button>
<script>
window.fbAsyncInit = function() {
	FB.init({
        appId      : '1764850450467794',
        xfbml      : true,
        version    : 'v2.6'
    });
};

(function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));

document.getElementById('liveButton').onclick = function() {
	FB.ui({
		display: 'popup',
        method: 'live_broadcast',
        phase: 'create',
    }, function(response) {
        if (!response.id) {
            alert('dialog canceled');
            return;
        }
		FB.ui({
			display: 'popup',
            method: 'live_broadcast',
            phase: 'publish',
            broadcast_data: response,
		}, function(response) {
			alert("video status: " + response.status);
		});
	});
};
</script>
