<!doctype html>
<html>
    <head>
    <% include partials/head %>
    </head>


    <body>
        <ul>
            <li><a href='sunrin/1.pdf'>20160624 선린인터넷고등학교 학생회그룹 양지훈 박진우.pdf</a></li>
            <li><a href='sunrin/2.pdf'></a></li>
            <li><a href='sunrin/3.pdf'>20160623 선린인터넷고등학교 학생회</a></li>
       </ul>
    </body>
</html>
