<!doctype html>
<head>
<% include partials/head %>
<meta property="og:description" content="color time.."/>

<script src="javascripts/time/view.js"></script>
<script src="https://use.typekit.net/pod0yka.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<link rel="stylesheet" href="stylesheets/time/view.css">
</head>

<body onload="ttc()">
    <div class="container">
        <div class="centered">
            <div id="time"></div>
            <h2 id="color"></h2>
        </div>
    </div>
</body>

